{%for i in number_of_player_types%}
<div class="col-md">
    <div class="card" v-if="first_load_done">                  
        <div class="card-header fw-bold">                
            <span class="align-middle">
                Player Type [[session.parameter_set.parameter_set_types[{{i}}].subject_type]] Settings
            </span>    
            
            <span class="float-end">
                <button type="button" class="btn btn-link ms-4" title="Show Help Doc" v-on:click="sendLoadHelpDoc('Staff Parameters Types')">
                    <i class="far fa-question-circle"></i> 
                </button>
            </span>
        </div>
        <div class="card-body">        
            
            <!-- parameterset type one settings -->
            <div class="row justify-content-center">
                <div class="col-md-auto text-center">
                    Good Production = P1 + P2 x Time <sup>P3</sup>
                </div>
            </div>

            <div class="row mt-2">
                <!-- good one production parameters -->
                <div class="col text-end">
                    First Good P1:
                </div>
                <div class="col text-start">
                    [[session.parameter_set.parameter_set_types[{{i}}].good_one_production_1]] 
                </div>
            </div>
            <div class="row">
                <div class="col text-end">
                    First Good P2:
                </div>
                <div class="col text-start">
                    [[session.parameter_set.parameter_set_types[{{i}}].good_one_production_2]]
                </div>
            </div>
            <div class="row">
                <div class="col text-end">
                    First Good P3:
                </div>
                <div class="col text-start">
                    [[session.parameter_set.parameter_set_types[{{i}}].good_one_production_3]]
                </div>
            </div>

            <!-- good two production parameters -->

            <div class="row mt-2">            
                <div class="col text-end">
                    Second Good P1:
                </div>
                <div class="col text-start">
                    [[session.parameter_set.parameter_set_types[{{i}}].good_two_production_1]]
                </div>
            </div>
            <div class="row">
                <div class="col text-end">
                    Second Good P2:
                </div>
                <div class="col text-start">
                    [[session.parameter_set.parameter_set_types[{{i}}].good_two_production_2]]
                </div>
            </div>
            <div class="row">
                <div class="col text-end">
                    Second Good P3:
                </div>
                <div class="col text-start">
                    [[session.parameter_set.parameter_set_types[{{i}}].good_two_production_3]]
                </div>
            </div>

            <div class="row mt-2">
                <div class="col text-end">
                    First good to earn [[Math.max(session.parameter_set.parameter_set_types[{{i}}].good_one_amount, session.parameter_set.parameter_set_types[{{i}}].good_two_amount)]]¢:
                </div>
                <div class="col text-start">
                    [[session.parameter_set.parameter_set_types[{{i}}].good_one_amount]]
                </div>
            </div>
            <div class="row">
                <div class="col text-end">
                    Second good to earn [[Math.max(session.parameter_set.parameter_set_types[{{i}}].good_one_amount, session.parameter_set.parameter_set_types[{{i}}].good_two_amount)]]¢:
                </div>
                <div class="col text-start">
                    [[session.parameter_set.parameter_set_types[{{i}}].good_two_amount]]
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-md-auto text-center mt-3">
                    <button class="btn btn-outline-primary"
                            type="button"
                            title="Player Type One Settings"
                            v-bind:disabled="session.started || reconnecting || working"
                            v-on:click="showEditParametersetType({{i}})">
                        Edit <i class="far fa-edit"></i>
                    </button>
                </div>
            </div> 
            
        </div>                    
    </div> 
</div>
{%endfor%}