{%include "staff/staff_session_parameters/avatars/edit_avatars_modal.html"%}

<div class="card" v-show="first_load_done">                  
    <div class="card-header fw-bold">                
        <span class="align-middle">
            Avatar Choice Grid
        </span>       

        <span class="float-end">
            <button type="button" class="btn btn-link ms-4" title="Show Help Doc" v-on:click="sendLoadHelpDoc('Staff Parameters Avatars')">
                <i class="far fa-question-circle"></i> 
            </button>
        </span>
    </div>
    <div class="card-body">               
        <div class="row justify-content-center">
            <!-- player settings -->
            <div class="col-md-auto text-center">                
                <div class="table-responsive">
                <table class="table table-condensed"> 
                    <thead>
                        <tr>
                            <th scope="col" class = "m-1 p-1">
                                Avatar
                            </th>
                            <th scope="col" class = "text-center m-1 p-1">
                                Row
                            </th>
                            <th scope="col" class = "text-center m-1 p-1">
                                Column
                            </th>                          
                        </tr>
                    </thead>
                    <tbody id="avatar_grid_list">
                        <tr v-for="(p, index) in session.parameter_set.parameter_set_avatars" 
                            v-bind:key="p.id"
                            v-on:click="showEditParametersetAvatar(index)">                           

                            <td class="player_table_cell">
                                <span v-if="p.avatar">
                                    [[p.avatar.label]]
                                </span>
                                <span v-else>
                                    None
                                </span>                                
                            </td>
                            <td class="player_table_cell">
                                [[p.grid_location_row]]
                            </td>
                            <td class="player_table_cell">
                                [[p.grid_location_col]]
                            </td>                            
                        </tr>
                    </tbody>

                </table>
                </div>
            </div>
        </div>              
        
    </div>                    
</div> 