{%include "subject/subject_home/graph/move_two_goods_modal.html"%}
{%include "subject/subject_home/graph/move_three_goods_modal.html"%}

<div class="card">                  
    <div class="card-header fw-bold">                
        <span class="align-middle">Client [[session_player.player_number]]</span>            
        
        <span class="float-end">
            <span v-show="reconnecting" class="me-1">
                Connecting <i class="fas fa-cog fa-spin fa-1x"></i>
            </span>
        </span>

    </div>
    <div class="card-body">
        
        <!-- graph -->
        <div class="row">
            <div class="col">
             
                <div class="container">
                <div class="one">
                    <canvas class="one" key="sd_graph" id="sd_graph_id" style="border-style: solid;border-width: 1px;"></canvas>
                </div>               
                <div class="two">
                    <div class="row justify-content-center mt-2">
                        <div class="col-md fs-1 text-center" >
                            <span class="align-middle" v-show="!session.started">Please Wait</span>
                        </div>
                    </div>
                     
                </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center mt-2">
            <div class="col-md-4 text-center">       
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group" id="chat_button_group">
                    <input type="radio"
                        class="btn-check" 
                        name="btnradio" 
                        id="btnradioall" 
                        autocomplete="off" 
                        v-on:click="updateChatRecipients('all', 'Everyone')" 
                        checked>
                    <label class="btn btn-outline-primary" for="btnradioall">Everyone</label>
                    
                    <div v-for="(p, index) in session.session_players" v-bind:key="p.id">
                        <input type="radio"
                            class="btn-check" 
                            name="btnradio" 
                            v-bind:id="'btnradio' + index" 
                            autocomplete="off" 
                            v-on:click="updateChatRecipients(p.id, 'Person ' + p.parameter_set_player.id_label)">
                        <label class="btn btn-outline-primary" v-bind:for="'btnradio' + index">[[p.parameter_set_player.id_label]]</label>
                    </div>

                </div> 
            </div>
        </div>

        <div class="row justify-content-center mt-2">
            <div class="col-md-4">                 
                <div class="input-group">
                    <input type="text" 
                           class="form-control" 
                           placeholder="Chat Text" 
                           v-model="chat_text"
                           aria-label="Chat Text" 
                           aria-describedby="button-addon2">
                    <button class="btn btn-outline-primary"
                            type="button" 
                            id="button-addon2" 
                            v-on:click="sendChat()"> @ [[chat_button_label]]</button>
                  </div>
            </div>
        </div>
       
    </div>                    
</div> 