<div class="card" v-show="first_load_done && 
                          session.started && 
                          session.current_experiment_phase!='Selection' && 
                          session.parameter_set.information_mode != 'None'">                  
    <div class="card-header fw-bold">                
        <span class="align-middle">Information About Each Person</span>
    </div>
    <div class="card-body">      
        <div class="row justify-content-center">           
            <div class="col text-center">                
                <table class="table table-condensed"> 
                    <thead>
                        <tr>
                            <th scope="col" class="" style="width: 15%;">Person</th>                                
                            <th scope="col" class="text-center">Production Advantage</th>
                            <th scope="col" class="text-center">Earnings</th>
                        </tr>
                    </thead>
                    <tbody id="player_list">
                        <tr v-for="(p, index) in session.session_players" v-bind:key="p.id">
                            <td class="text-nowrap">
                                [[p.parameter_set_player.id_label]]
                            </td>
                            <td class="align-middle">
                                <div v-if="p.parameter_set_player.parameter_set_type.good_preference=='Good One'">
                                    <span v-bind:style = "{color : p.parameter_set_player.good_one.rgb_color}">
                                        [[p.parameter_set_player.good_one.label]](O)
                                    </span> 
                                </div>
                                <div v-else>
                                    <span v-bind:style = "{color : p.parameter_set_player.good_two.rgb_color}">
                                        [[p.parameter_set_player.good_two.label]](B)
                                    </span>
                                </div>
                            </td>
                            <td class="text-nowrap">
                                
                                <div class="row justify-content-center text-center">
                                    <div class="col" >
                                        
                                        [[p.parameter_set_player.parameter_set_type.good_one_amount]]<span v-bind:style = "{color : p.parameter_set_player.good_one.rgb_color}">O</span>+[[p.parameter_set_player.parameter_set_type.good_two_amount]]<span v-bind:style = "{color : p.parameter_set_player.good_two.rgb_color}">B</span>
                                        =
                                        [[Math.max(p.parameter_set_player.parameter_set_type.good_one_amount, p.parameter_set_player.parameter_set_type.good_two_amount)]]¢
                                                                                    
                                    </div>
                                </div>                
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>                    
</div> 