<div class="card mt-4">                  
    <div class="card-header fw-bold">                
        <span class="align-middle">Production</span>            

    </div>
    <div class="card-body">        
       <div class="row">
           <div class="col">
                <label for="productionRange" class="form-label">Production</label>
                <input type="range" class="form-range" id="productionRange">
           </div>
       </div>
       <div class="row">
        <div class="col text-start">
            [[session_player.parameter_set_player.good_one.label]]
        </div>
        <div class="col text-end">
            [[session_player.parameter_set_player.good_two.label]]
        </div>
    </div>
    </div>                    
</div> 