{%extends "base.html"%}
{% load crispy_forms_tags %}

{%block head%}
<script type="text/javascript">

    $(document).ready(function(){
        {%include "subject/subject_home/subject_home.js"%}
    });

</script>

<style>

    .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        grid-auto-rows: minmax(100px, auto);
        align-content: end;
        row-gap: 20px;
    }

    .one {
        grid-column: 1 / 4;
        grid-row: 1;
        height: 600px;
        background-color: white; 
        width: 100%;
        z-index: 1;
        /* border-style: solid; */
    }

    .two {
        grid-column: 2;
        grid-row: 1;
        height: 580px;
        z-index: 2;
        width: 100%;
        word-breaK:break-word;
        overflow-y:scroll;
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: ghostwhite;
    }
   
</style>

{%endblock head%}

{% block content %}

<!-- modals -->


<!-- cards -->
<div class="row justify-content-lg-center mt-4" v-cloak>
    <div class="col-md-9">
        {%include "subject/subject_home/graph_card.html"%}                
    </div>
    <div class="col-md-3">
        <div class="row">
            <div class="col-md">
                {%include "subject/subject_home/production_card.html"%}
            </div>            
        </div>
        <div class="row mt-4">
            <div class="col-md">
                {%include "subject/subject_home/earnings_card.html"%}
            </div>            
        </div>
        <div class="row mt-4">
            <div class="col-md">
                {%include "subject/subject_home/summary_card.html"%}
            </div>            
        </div>     
    </div>
</div>


{% endblock %}