{%extends "base.html"%}
{% load crispy_forms_tags %}

{%block head%}
<script type="text/javascript">

    $(document).ready(function(){
        {%include "subject/subject_home/subject_home.js"%}
    });

</script>

<style>
    canvas {
        
        
    }

    .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        grid-auto-rows: minmax(100px, auto);
    }

    .one {
        grid-column: 1 / 4;
        grid-row: 1;
        height: 600px;
        background-color: orange; 
        width: 100%;
        z-index: 1;
        /* border-style: solid; */
    }

    .two {
        grid-column: 2;
        grid-row: 1;
        border-style: dotted;
        background-color: chartreuse;
        height: 600px;
        z-index: 2;
    }
   
</style>

{%endblock head%}

{% block content %}

<!-- modals -->


<!-- cards -->
<div class="row justify-content-lg-center mt-4" v-cloak>
    <div class="col-md-9">
        {%include "subject/subject_home/graph_card.html"%}                
    </div>
    <div class="col-md-3">
        {%include "subject/subject_home/chat_card.html"%}             
    </div>
</div>

{% endblock %}