{%extends "base.html"%}
{% load crispy_forms_tags %}

{%block head%}
<script type="text/javascript">

    $(document).ready(function(){
        {%include "staff/staff_session_parameters/staff_session_parameters.js"%}
    });

</script>
<style>

    canvas {
        background-color: white; 
        width: 100%;
        height: 600px;
    }

    .player_table_row {
        cursor: pointer;
    }

    .player_table_cell{
        cursor: pointer;
    }

    .player_table_cell:hover {
        background-color:#ececec;
    }
</style>

{%endblock head%}

{% block content %}

<!-- modals -->
{%include "staff/staff_session_parameters/general_settings/edit_parameterset_modal.html"%}
{%include "staff/staff_session_parameters/good_settings/edit_parameterset_good_modal.html"%}
{%include "staff/staff_session_parameters/player_types/edit_parameterset_type_modal.html"%}
{%include "staff/staff_session_parameters/players/edit_parameterset_player_modal.html"%}
{%include "staff/staff_session_parameters/players/edit_parameterset_player_group_modal.html"%}
{%include "staff/staff_session_parameters/control/upload_parameters_modal.html"%}
{%include "staff/staff_session_parameters/control/import_parameters_modal.html"%}
{%include "help_modal.html"%}

<!-- cards -->
<div class="row justify-content-lg-center" v-cloak>
    <div class="col-md">
        {%include "staff/staff_session_parameters/general_settings/general_settings_card.html"%}  
    </div>
    <div class="col-md">
        {%include "staff/staff_session_parameters/avatars/avatars_card.html"%}  
    </div>
    <div class="col-md">
        {%include "staff/staff_session_parameters/good_settings/good_settings_card.html"%}  
    </div>
    <div class="col-md">
        {%include "staff/staff_session_parameters/control/control_card.html"%}  
    </div>                       
</div>
    
<div class="row justify-content-lg-center mt-4" v-cloak>    
    {%include "staff/staff_session_parameters/player_types/player_type_card.html"%}    
</div>

                           
<div class="row justify-content-lg-center mt-4" v-cloak>
    <div class="col">   
        {%include "staff/staff_session_parameters/players/players_card.html"%}                  
    </div>
</div>


{% endblock %}