{%extends "base.html"%}
{% load crispy_forms_tags %}

{%block head%}
<script type="text/javascript">

    $(document).ready(function(){
        {%include "staff/staff_session/staff_session.js"%}
    });

</script>
<style>

    canvas {
        background-color: white; 
        width: 100%;
        height: 600px;
    }
</style>

{%endblock head%}

{% block content %}

<!-- modals -->
{%include "staff/staff_session/edit_session_modal.html"%}
{%include "staff/staff_session/edit_valuecost_modal.html"%}
{%include "staff/staff_session/edit_period_modal.html"%}
{%include "staff/staff_session/upload_parameters_modal.html"%}
{%include "staff/staff_session/import_parameters_modal.html"%}

<!-- cards -->
<div class="row justify-content-lg-center" v-cloak>
    <div class="col-md-9">
        {%include "staff/staff_session/parameters_card.html"%}                 
    </div>
    <div class="col-md-3">
        <div class="row">
            <div class="col">
                {%include "staff/staff_session/session_card.html"%}
            </div>
        </div>
                        
    </div>
</div>
<div class="row justify-content-lg-center mt-4" v-cloak>
    <div class="col-md-9">
        {%include "staff/staff_session/graph_card.html"%}                 
    </div>
    <div class="col-md-3">
        <div class="row">
            <div class="col">
                {%include "staff/staff_session/control_card.html"%} 
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">
                {%include "staff/staff_session/input_card.html"%} 
                {%include "staff/staff_session/replay_card.html"%} 
            </div>
        </div> 
        <div class="row mt-4">
            <div class="col">
                {%include "staff/staff_session/trades_card.html"%} 
            </div>
        </div>            
    </div>
</div>

{% endblock %}