<div class="card" v-show="first_load_done">                  
    <div class="card-header fw-bold">                
        <span class="align-middle">
            Players ([[session.parameter_set.parameter_set_players.length]])
        </span>      

        <span class="float-end">
            <button type="button" class="btn btn-link ms-4" title="Show Help Doc" v-on:click="sendLoadHelpDoc('Staff Parameters Players')">
                <i class="far fa-question-circle"></i> 
            </button>
        </span> 
                
    </div>
    <div class="card-body" >        

        <div class="row justify-content-center">
            <!-- player settings -->
            <div class="col-md-auto text-center">                
                <div class="table-responsive">
                <table class="table table-condensed"> 
                    <thead>
                        <tr>
                            <th scope="col" class = "m-1 p-1">
                                Client #
                            </th>
                            <th scope="col" class = "text-center m-1 p-1">
                                Town
                            </th>
                            <th scope="col" class = "text-center m-1 p-1">
                                Location
                            </th>
                            <th scope="col" class = "text-center m-1 p-1">
                                Label
                            </th>
                            <th scope="col" class = "text-center m-1 p-1">
                                Type
                            </th>                            
                            <th scope="col" class = "text-center m-1 p-1">
                                First Good
                            </th>
                            <th scope="col" class = "text-center m-1 p-1">
                                Second Good
                            </th>
                            <th scope="col" class = "text-center m-1 p-1">
                                Third Good
                            </th>
                            <th scope="col" class = "text-center m-1 p-1">
                                Avatar
                            </th>
                            <th class = "text-center m-1 p-1">
                                Groups:
                            </th>
                            <th v-for="index in session.parameter_set.period_count" :key="index" class = "m-1 p-1">
                                P[[index]]
                            </th>
                            
                        </tr>
                    </thead>
                    <tbody id="player_list">
                        <tr v-for="(p, index) in session.parameter_set.parameter_set_players_order" 
                            v-bind:key="p"
                            :set="temp_p=session.parameter_set.parameter_set_players[p]">
                            <td v-on:click="showEditParametersetPlayer(p)" class="player_table_cell">
                                [[temp_p.session_player_number]]
                            </td>
                            <td v-on:click="showEditParametersetPlayer(p)" class="player_table_cell">
                                [[temp_p.town]]
                            </td>
                            <td v-on:click="showEditParametersetPlayer(p)" class="player_table_cell">
                                [[temp_p.location]]
                            </td>
                            <td v-on:click="showEditParametersetPlayer(p)" class="player_table_cell">
                                [[temp_p.id_label]]
                            </td>
                            <td v-on:click="showEditParametersetPlayer(p)" class="player_table_cell">
                                [[temp_p.parameter_set_type.subject_type]]
                            </td>
                            <td v-on:click="showEditParametersetPlayer(p)" class="player_table_cell">
                                <span v-bind:style = "{color : temp_p.good_one.rgb_color}">[[temp_p.good_one.label]]</span>
                            </td>
                            <td v-on:click="showEditParametersetPlayer(p)" class="player_table_cell">
                                <span v-bind:style = "{color : temp_p.good_two.rgb_color}">[[temp_p.good_two.label]]</span>
                            </td>
                            <td v-on:click="showEditParametersetPlayer(p)" class="player_table_cell">
                                <span v-bind:style = "[{color : temp_p.good_three.rgb_color},
                                                       (session.parameter_set.good_count==2) ? {'text-decoration': 'line-through'}:{}]">[[temp_p.good_three.label]]</span>
                            </td>
                            <td v-on:click="showEditParametersetPlayer(p)" class="text-nowrap player_table_cell">
                                [[temp_p.avatar ? temp_p.avatar.label:'None']]
                            </td>
                            <td style="background-color:rgb(240, 240, 240);">
                               
                            </td>
                            <td v-for="(g, index2) in temp_p.period_groups_order" 
                                :set="temp_g=temp_p.period_groups[g]"
                                v-on:click="showEditParametersetPlayerGroup(p, g)" class="player_table_cell" v-bind:key="g">
                                G[[temp_g.group_number]]
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <!-- copy groups forward -->
                        <tr>
                            <td>
                                <button class="btn btn-outline-success btn-sm"
                                        type="button"
                                        title="Add player"
                                        v-bind:disabled="session.started || reconnecting || working || session.parameter_set.parameter_set_players.length >= 24"
                                        v-on:click="sendAddParameterSetPlayer()">
                                       Add <i class="fas fa-plus"></i>
                                </button>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td v-for="index in session.parameter_set.period_count-1">
                                <button class="btn btn-outline-primary btn-sm"
                                        type="button"
                                        title="Copy groups forward"
                                        v-bind:disabled="session.started || reconnecting || working"
                                        v-on:click="sendCopyGroupForward(index)">
                                        <i class="fas fa-angle-double-right"></i>
                                </button>
                            </td>
                            <td>
                            </td>
                        </tr>
                    </tfoot>
                </table>
                </div>
            </div>
        </div>  
        
    </div>                    
</div> 