<div class="card" v-show="first_load_done">                  
    <div class="card-header fw-bold">                
        <span class="align-middle">
            General Settings
        </span>  
        
        <span class="float-end">
            <button type="button" class="btn btn-link ms-4" title="Show Help Doc" v-on:click="sendLoadHelpDoc('Staff Parameters General')">
                <i class="far fa-question-circle"></i> 
            </button>
        </span>
    </div>
    <div class="card-body">        
       
        <!-- parameterset settings -->
        <div class="row"> 
            <div class="col-7 text-end">
                {{parameter_set_form.town_count.label}}:
            </div>
            <div class="col text-start">
                [[session.parameter_set.town_count]]
            </div>          
        </div>
        <div class="row"> 
            <div class="col-7 text-end">
                {{parameter_set_form.good_count.label}}:
            </div>
            <div class="col text-start">
                [[session.parameter_set.good_count]]
            </div>          
        </div>
        <div class="row">
            <div class="col-7 text-end">
                {{parameter_set_form.period_count.label}}:
            </div>
            <div class="col text-start">
                [[session.parameter_set.period_count]]
            </div>
        </div>
        <div class="row">
            <div class="col-7 text-end">
                {{parameter_set_form.period_length_production.label}}:
            </div>
            <div class="col text-start">
                [[session.parameter_set.period_length_production]]
            </div>
        </div>
        <div class="row">
            <div class="col-7 text-end">
                {{parameter_set_form.period_length_trade.label}}:
            </div>
            <div class="col text-start">
                [[session.parameter_set.period_length_trade]]
            </div>
        </div>
        <div class="row">
            <div class="col-7 text-end">
                {{parameter_set_form.break_period_frequency.label}}:
            </div>
            <div class="col text-start">
                [[session.parameter_set.break_period_frequency]]
            </div>
        </div>
        <div class="row">
            <div class="col-7 text-end">
                {{parameter_set_form.allow_stealing.label}}:                
            </div>
            <div class="col text-start">
                <span v-if="session.parameter_set.allow_stealing=='True'">Yes</span><span v-else>No</span>                
            </div>  
        </div>  
        <div class="row">
            <div class="col-7 text-end">
                {{parameter_set_form.private_chat.label}}:                
            </div>
            <div class="col text-start">
                <span v-if="session.parameter_set.private_chat=='True'">Yes</span><span v-else>No</span>                
            </div>  
        </div>
        <div class="row">
            <div class="col-7 text-end">
                {{parameter_set_form.show_avatars.label}}:                
            </div>
            <div class="col text-start">
                <span v-if="session.parameter_set.show_avatars=='True'">Yes</span><span v-else>No</span>                
            </div>  
        </div>
        <div class="row">
            <div class="col-7 text-end">
                {{parameter_set_form.avatar_assignment_mode.label}}:                
            </div>
            <div class="col text-start">
                [[session.parameter_set.avatar_assignment_mode]]                
            </div>  
        </div>
        <div class="row">
            <div class="col-7 text-end">
                {{parameter_set_form.show_instructions.label}}:                
            </div>
            <div class="col text-start">
                <span v-if="session.parameter_set.show_instructions=='True'">Yes</span><span v-else>No</span>                
            </div>  
        </div> 
        <div class="row">
            <div class="col-7 text-end">
                {{parameter_set_form.instruction_set.label}}:                
            </div>
            <div class="col text-start">
                [[session.parameter_set.instruction_set.label]]                
            </div>  
        </div> 
        <div class="row">
            <div class="col-7 text-end">
                {{parameter_set_form.test_mode.label}}:                
            </div>
            <div class="col text-start">
                <span v-if="session.parameter_set.test_mode=='True'">Yes</span><span v-else>No</span>                
            </div>  
        </div>        
        <div class="row justify-content-center">
            <div class="col-md text-center mb-2 mt-2">
                <button class="btn btn-outline-primary"
                        type="button"
                        title="General Settings"
                        v-bind:disabled="session.started || reconnecting || working"
                        v-on:click="showEditParameterset()">
                    Edit <i class="far fa-edit"></i>
                </button>
            </div>
        </div>
        
    </div>                    
</div> 