{%load static%}

<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>Economic Science Institute</title>  
        <link rel="icon" type="image/png" href="{% static 'favicon.ico' %}"/>
        <link rel="apple-touch-icon" type="image/png" href="{% static 'apple-touch-icon-precomposed.png' %}">

        <meta charset="UTF-8" CONTENT="NO-CACHE">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.10.2/tinymce.min.js" integrity="sha512-MbhLUiUv8Qel+cWFyUG0fMC8/g9r+GULWRZ0axljv3hJhU6/0B3NoL6xvnJPTYZzNqCQU3+TzRVxhkE531CLKg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        <!-- Fonts -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />

        <!-- Styles -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css" integrity="sha512-b2QcS5SsA8tZodcDtGRELiGv5SaKSk1vDHDaQRda0htPYWZ6046lr3kJ5bAAQdpV2mmA/4v0wQF9MyU6/pDIAg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment-with-locales.min.js" integrity="sha512-LGXaggshOkD/at6PFNcp2V2unf9LzFq6LE+sChH7ceMTDP0g2kn6Vxwgg7wkPP7AAtX+lmPqPdxB47A0Nz0cMQ==" crossorigin="anonymous"></script>

        {%if DEBUG%}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.3.4/vue.global.min.js" integrity="sha512-Wbf9QOX8TxnLykSrNGmAc5mDntbpyXjOw9zgnKql3DgQ7Iyr5TCSPWpvpwDuo+jikYoSNMD9tRRH854VfPpL9A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        {%else%}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.3.4/vue.global.prod.min.js" integrity="sha512-39BSQXI5q1XlvVhLfFRidKG8KM6Tr6VS/XSnNo6N/A0ZXexHCeoUI/s+ulujQy3UREjoLNrMnFat8VI0mMugWA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        {%endif%}

        <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/7.4.0/pixi.js" integrity="sha512-DI35SktlV4arMkRaiggNRpgD/uh8/Oz8uyEI/7BBIn5DA044Gh8izWH1/08lCIuoM+hQnN4Ex9Lj90a565Sveg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js" integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script type="text/javascript">
        
        </script>

        <style>
            [v-cloak] {
            display: none;
            }
        </style>

        {%block head%}
        {%endblock head%}        
    </head>
    <body style="font-size:16px"> 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.bundle.min.js" integrity="sha512-X/YkDZyjTf4wyc2Vy16YGCPHwAY8rZJY+POgokZjQB2mhIRFJCckEGc6YyX9eNsPfn0PzThEuNs+uaomE5CO6A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        

        {% if user.is_authenticated %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light p-1 d-print-none">
            <div class="container-fluid">
                <a class="navbar-brand">
                    Exchange and Specialization
                </a>
                
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto">                       
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'staff-home' %}"  data-placement="bottom" title="Session list">
                                Sessions <i class="fas fa-flask"></i>
                            </a>
                        </li>                                               
                    </ul>
                    <div class="d-flex dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {{request.user.last_name}}, {{request.user.first_name}}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="navbarDropdown">
                            {%if user.is_staff%}
                                <li>
                                    <a class="dropdown-item" href="{% url 'admin:index' %}"  data-placement="bottom" title="Admin Panel">
                                        <i class="fas fa-cogs fa-fw"></i> Admin
                                    </a>
                                </li>
                                
                            {%endif%}
                            <li>
                                <a class="dropdown-item" href="{% url 'logout'%}"><i class="fas fa-sign-out-alt fa-fw"></i> Log Out</a>
                            </li>
                            <li><hr class="dropdown-divider"></li>    
                            <li>
                                <a class="dropdown-item" href="{{ESI_AUTH_ACCOUNT_URL}}"><i class="far fa-user"></i> Profile</a>
                            </li>                   
                        </ul>
                    </div>
                    <div class="d-flex">
                        
                    </div>                
                </div>
                </div>
        </nav>
        {%endif%}

        <div class="container-fluid mt-4 mb-4" id="app">                    
            {%block content%}
            {%endblock content%}
        </div>  
   
    </body>
</html>