{% load crispy_forms_tags %}
<!--Edit Period Modal -->
<div class="modal fade " 
     id="moveThreeGoodsModal" 
     data-bs-backdrop="static" 
     data-bs-keyboard="false" 
     tabindex="-1" 
     aria-labelledby="moveThreeGoodsModal" 
     aria-hidden="true">

    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <span class = "fw-bold">[[transfer_source_modal_string]] &nbsp;<i class="fas fa-arrow-right"></i> &nbsp;[[transfer_target_modal_string]]</span>           
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="moveThreeGoodsForm" v-on:submit.prevent="onSubmit">
                    {% for i in session_player_move_three_form %}
                    <div class="row">
                        <div class = "col col-md-10 offset-md-1">  
                            {{ i|as_crispy_field }}         
                        </div>            
                    </div> 
                    {% endfor %}
                </form>
            </div>
            <div class="modal-footer">
                
                <button type="button"
                        class="btn btn-outline-primary"
                        v-on:click = "(session.current_experiment_phase == 'Instructions') ? simulateGoodTransferInstructions() : sendMoveGoods()"
                        title="Move Goods"
                        id="move_three_id"
                        v-bind:disabled="reconnecting || working || session.current_period_phase == 'Production'">
                    Move Goods <i class="fas fa-sign-in-alt"></i>
                </button>
            </div>
        </div>
    </div>
</div>