<div class="card" v-show="first_load_done">                  
    <div class="card-header">                
        <span class="align-middle">
            Parameters
        </span>       
        <span class="ms-2"> 
            <a href='{%url "staff_session" session.id %}' class='link-primary'>Return to session</a>
        </span>

        <span class="float-end">                        
            <button class="btn btn-outline-primary me-1"
                    type="button"
                    v-bind:disabled="reconnecting || working" 
                    v-on:click="sendDownloadParameters()" 
                    title="Download to a file.">
                <span v-html = "downloadParametersetButtonText"></span>
            </button> 
            <button class="btn btn-outline-primary me-1" 
                    type="button" 
                    v-bind:disabled="session.started || reconnecting || working" 
                    v-on:click="showUploadParameters('parameters')"
                    title = "Upload from a file.">
                Upload  <i class="fas fa-upload"></i>
            </button> 
            <button class="btn btn-outline-primary me-1"
                    type="button" 
                    v-bind:disabled="session.started || reconnecting || working" 
                    v-on:click="showImportParameters('parameters')"
                    title="Import parameters from another session.">
                Import <i class="fas fa-file-import"></i>
            </button>
            <button class="btn btn-outline-secondary me-1"
                    type="button" 
                    v-bind:disabled="reconnecting || working" 
                    v-on:click="show_parameters = !show_parameters"
                    title="Hide or show parameters">
                <span v-if="show_parameters">
                    Hide <i class="fas fa-eye-slash"></i>
                </span>
                <span v-else>
                    Show <i class="fas fa-eye"></i>
                </span>
            </button>  
        </span>
        
    </div>
    <div class="card-body" v-if="show_parameters">        
        <div class="row mt-2 fw-bold">
            <div class="col-md text-center">
                General Settings
            </div>
        </div>
        <!-- parameterset settings -->
        <div class="row justify-content-center">
            <div class="col-md-auto text-center">
                {{parameter_set_form.period_count.label}}: [[session.parameter_set.period_count]]
            </div>
            <div class="col-md-auto text-center">
                {{parameter_set_form.period_length_production.label}}: [[session.parameter_set.period_length_production]]
            </div>
            <div class="col-md-auto text-center">
                {{parameter_set_form.period_length_trade.label}}: [[session.parameter_set.period_length_trade]]
            </div>
            <div class="col-md-auto text-center">
                {{parameter_set_form.break_period_frequency.label}}: [[session.parameter_set.break_period_frequency]]
            </div>
            <div class="col-md-auto text-center">
                {{parameter_set_form.allow_stealing.label}}: <span v-if="session.parameter_set.allow_stealing">Yes</span><span v-else>No</span>                
            </div>            
        </div>  
        <div class="row justify-content-center">
            <div class="col-md-auto text-center">
                {{parameter_set_form.town_count.label}}: [[session.parameter_set.town_count]]
            </div>
            <div class="col-md-auto text-center">
                {{parameter_set_form.good_one_label.label}}: [[session.parameter_set.good_one_label]]
            </div>
            <div class="col-md-auto text-center">
                {{parameter_set_form.good_two_label.label}}: [[session.parameter_set.good_two_label]]
            </div>
            <div class="col-md-auto text-center">
                {{parameter_set_form.good_one_rgb_color.label}}: <span v-bind:style = "{color : session.parameter_set.good_one_rgb_color}">
                                                                    [[session.parameter_set.good_one_rgb_color]]
                                                                </span>
            </div>
            <div class="col-md-auto text-center">
                {{parameter_set_form.good_two_rgb_color.label}}: <span v-bind:style = "{color : session.parameter_set.good_two_rgb_color}">
                                                                    [[session.parameter_set.good_two_rgb_color]]
                                                                </span>
            </div>            
        </div>
        <div class="row justify-content-center border-bottom">
            <div class="col-md-auto text-center mb-2 mt-2">
                <button class="btn btn-outline-primary"
                        type="button"
                        title="General Settings"
                        v-bind:disabled="session.started || reconnecting || working"
                        v-on:click="showEditParameterset()">
                    Edit <i class="far fa-edit"></i>
                </button>
            </div>
        </div>

        <!-- parameterset type one settings -->
        <div class="row mt-4 fw-bold">
            <div class="col-md text-center">
                Player Type [[session.parameter_set.parameter_set_types[0].subject_type]] Settings
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-auto text-center">
                [[session.parameter_set.good_one_label]] good(s) need to earn 1¢: [[session.parameter_set.parameter_set_types[0].good_one_amount]]
            </div>
            <div class="col-md-auto text-center">
                [[session.parameter_set.good_two_label]] good(s) needed to earn 1¢: [[session.parameter_set.parameter_set_types[0].good_two_amount]]
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md text-center">
                [[session.parameter_set.good_one_label]] and [[session.parameter_set.good_two_label]] Production = P1 + P2 x Time <sup>P3</sup>
            </div>
        </div>
        <div class="row justify-content-center">
            <!-- good one production parameters -->
            <div class="col-md-auto text-center">
                [[session.parameter_set.good_one_label]] P1: [[session.parameter_set.parameter_set_types[0].good_one_production_1]]  
            </div>
            <div class="col-md-auto text-center">
                [[session.parameter_set.good_one_label]] P2: [[session.parameter_set.parameter_set_types[0].good_one_production_2]]
            </div>
            <div class="col-md-auto text-center">
                [[session.parameter_set.good_one_label]] P3: [[session.parameter_set.parameter_set_types[0].good_one_production_3]]
            </div>

            <!-- good two production parameters -->
            <div class="col-md-auto text-center">
                [[session.parameter_set.good_two_label]] P1: [[session.parameter_set.parameter_set_types[0].good_two_production_1]]
            </div>
            <div class="col-md-auto text-center">
                [[session.parameter_set.good_two_label]] P2: [[session.parameter_set.parameter_set_types[0].good_two_production_2]]
            </div>
            <div class="col-md-auto text-center">
                [[session.parameter_set.good_two_label]] P3: [[session.parameter_set.parameter_set_types[0].good_two_production_3]]
            </div>
        </div>

        <div class="row justify-content-center border-bottom">
            <div class="col-md-auto text-center mb-2 mt-2">
                <button class="btn btn-outline-primary"
                        type="button"
                        title="Player Type One Settings"
                        v-bind:disabled="session.started || reconnecting || working"
                        v-on:click="showEditParametersetType(0)">
                    Edit <i class="far fa-edit"></i>
                </button>
            </div>
        </div>

        <!-- parameterset type two settings -->
        <div class="row mt-4 fw-bold">
            <div class="col-md text-center">
                Player Type [[session.parameter_set.parameter_set_types[1].subject_type]] Settings
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-auto text-center">
                [[session.parameter_set.good_one_label]] good(s) need to earn 1¢: [[session.parameter_set.parameter_set_types[1].good_one_amount]]
            </div>
            <div class="col-md-auto text-center">
                [[session.parameter_set.good_two_label]] good(s) needed to earn 1¢: [[session.parameter_set.parameter_set_types[1].good_two_amount]]
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md text-center">
                [[session.parameter_set.good_one_label]] and [[session.parameter_set.good_two_label]] Production = P1 + P2 x Time <sup>P3</sup>
            </div>
        </div>
        <div class="row justify-content-center">
            <!-- good one production parameters -->
            <div class="col-md-auto text-center">
                [[session.parameter_set.good_one_label]] P1: [[session.parameter_set.parameter_set_types[1].good_one_production_1]]  
            </div>
            <div class="col-md-auto text-center">
                [[session.parameter_set.good_one_label]] P2: [[session.parameter_set.parameter_set_types[1].good_one_production_2]]
            </div>
            <div class="col-md-auto text-center">
                [[session.parameter_set.good_one_label]] P3: [[session.parameter_set.parameter_set_types[1].good_one_production_3]]
            </div>

            <!-- good two production parameters -->
            <div class="col-md-auto text-center">
                [[session.parameter_set.good_two_label]] P1: [[session.parameter_set.parameter_set_types[1].good_two_production_1]]
            </div>
            <div class="col-md-auto text-center">
                [[session.parameter_set.good_two_label]] P2: [[session.parameter_set.parameter_set_types[1].good_two_production_2]]
            </div>
            <div class="col-md-auto text-center">
                [[session.parameter_set.good_two_label]] P3: [[session.parameter_set.parameter_set_types[1].good_two_production_3]]
            </div>
        </div>

        <div class="row justify-content-center border-bottom">
            <div class="col-md-auto text-center mb-2 mt-2">
                <button class="btn btn-outline-primary"
                        type="button"
                        title="Player Type One Settings"
                        v-bind:disabled="session.started || reconnecting || working"
                        v-on:click="showEditParametersetType(1)">
                    Edit <i class="far fa-edit"></i>
                </button>
            </div>
        </div>

        <!-- players -->
        <div class="row mt-4 fw-bold">
            <div class="col-md text-center">
                Players ([[session.parameter_set.parameter_set_players.length]])
            </div>
        </div>
        <div class="row justify-content-center">
            <!-- player settings -->
            <div class="col-md-auto text-center">                
                <div class="table-responsive">
                <table class="table table-condensed"> 
                    <thead>
                        <tr>
                            <th scope="col" class = "m-1 p-1">
                                Label
                            </th> 
                            <th scope="col" class = "text-center m-1 p-1">
                                Location
                            </th>
                            <th scope="col" class = "text-center m-1 p-1">
                                Type
                            </th>
                            <th class = "text-center m-1 p-1">
                                Groups:
                            </th>
                            <th v-for="index in session.parameter_set.period_count" :key="index" class = "m-1 p-1">
                                P[[index]]
                            </th>
                            
                        </tr>
                    </thead>
                    <tbody id="player_list">
                        <tr v-for="(p, index) in session.parameter_set.parameter_set_players" v-bind:key="p.id">
                            <td v-on:click="showEditParametersetPlayer(index)" class="player_table_cell">
                                [[p.id_label]]
                            </td>
                            <td v-on:click="showEditParametersetPlayer(index)" class="player_table_cell">
                                [[p.location]]
                            </td>
                            <td v-on:click="showEditParametersetPlayer(index)" class="player_table_cell">
                                [[p.subject_type]]
                            </td>
                            <td>
                                
                            </td>
                            <td v-for="(g, index2) in p.period_groups" v-on:click="showEditParametersetPlayerGroup(index, index2)" class="player_table_cell" v-bind:key="g.id">
                                G[[g.group_number]]
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <!-- copy groups forward -->
                        <tr>
                            <td>
                                <button class="btn btn-outline-success btn-sm"
                                        type="button"
                                        title="Add player"
                                        v-bind:disabled="session.started || reconnecting || working || session.parameter_set.parameter_set_players.length >= 8"
                                        v-on:click="sendAddParameterSetPlayer()">
                                       Add <i class="fas fa-plus"></i>
                                </button>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td v-for="index in session.parameter_set.period_count-1">
                                <button class="btn btn-outline-primary btn-sm"
                                        type="button"
                                        title="Copy groups forward"
                                        v-bind:disabled="session.started || reconnecting || working"
                                        v-on:click="sendCopyGroupForward(index)">
                                        <i class="fas fa-angle-double-right"></i>
                                </button>
                            </td>
                        </tr>
                    </tfoot>
                </table>
                </div>
            </div>
        </div>  
        
    </div>                    
</div> 